<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="container">

  <h1 class="titulo-principal">Últimos Posts</h1>

  <!-- Botão para criar postagem -->
    <a href="/posts/postagens/criar" class="btn btn-primary">
        Criar nova postagem
    </a>

  <% if (!postagens || postagens.length === 0) { %>
      <p>Nenhum post encontrado.</p>

  <% } else { %>

      <div class="lista-posts">

          <% postagens.forEach(post => { %>
              <article class="post-card">

                  <h2 class="post-titulo">
                      <a href="/posts/<%= post.id %>"><%= post.titulo %></a>
                  </h2>


                  <% if (postagem.imagem) { %>
                      <img src="<%= postagem.imagem %>" alt="Imagem do post" class="post-imagem">
                  <% } %>

                  <p class="post-conteudo"><%= postagem.conteudo.substring(0, 150) %>...</p>
                  <p class="post-meta">
                      Publicado por 
                      <strong><%= postagem.autor || "Autor desconhecido" %></strong> 
                      em <%= postagem.created_at.toLocaleDateString('pt-BR') %>
                  </p>

                  <a class="btn-leia-mais" href="/posts/<%= postagem.id %>">Ler mais</a>

              </article>
          <% }) %>

      </div>

  <% } %>

</main>

<%- include('../partials/footer') %>

</body>
</html>
