<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<div class="container post-container">

<div class="card interacao-card">
    <div class="card-body">
        <div class="d-flex align-items-center mb-2">
            <img src="/images/perfil.jpg" class="usuario-img me-3">
             <div>
                <strong>@<%= usuario.nome_usuario %></strong><br>
                <small class="text-muted"><%= postagem.categoria || 'Geral' %></small>
            </div>
        </div>
            <h3 class="perfil-titulo"><%= postagem.titulo %></h3>

            <p class="post-texto"><%= postagem.conteudo %></p>

            <a href="/posts" class="btn btn-outline-secondary voltar-btn">
                Voltar</a>
    </div>
</div>

<div class="card interacao-card">
    <div class="card-header comentario-header">
        <h5 class="mb-0">Comentar</h5>
    </div>

    <div class="card-body">
        <form action="/comentarios/criar" method="POST">
            <input type="hidden" name="idPost" value="<%= postagem.idPost %>">
            <textarea 
                name="conteudo" 
                class="form-control" 
                rows="3" 
                placeholder="Escreva seu coment치rio..."
                required
            ></textarea>

            <button class="btn btn-primary enviar-comentario-btn">Enviar coment치rio</button>
        </form>
    </div>
</div>

    <div class="card lista-comentarios">
        <div class="card-header comentarios-header">
            <h5 class="mb-0">Coment치rios</h5>
        </div>

        <div class="card-body">
        <% if (comentarios && comentarios.length > 0) { %>
            <% comentarios.forEach(c => { %>
                <div class="comentario-item">
                    <img src="/images/perfil.jpg"
                        class="usuario-img me-3">

                    <div class="flex-grow-1">
                        <strong>@<%= c.nomeUsuario %></strong>
                        <p class="mb-1"><%= c.conteudo %></p>
                    </div>

                    <% if (session && session.idUsuario === c.idUsuario) { %>
                    <div class="comentario-botoes">
                        <a href="/comentarios/editar/<%= c.idComentario %>" 
                            class="btn btn-sm btn-warning">Editar</a>

                        <form action="/comentarios/excluir/<%= c.idComentario %>" method="POST">
                            <button class="btn btn-sm btn-danger">Excluir</button>
                        </form>
                </div>
                <% } %>
            </div>
        <% }) %>

        <% } else { %>
            <p class="text-muted">Nenhum coment치rio ainda. Seja o primeiro!</p>
        <% } %>

        </div>
    </div>
</div>

<%- include('../partials/footer') %>
